---
http_interactions:
- request:
    method: post
    uri: https://sandbox-rest.avatax.com/api/v2/transactions/createoradjust
    body:
      encoding: UTF-8
      string: '{"createTransactionModel":{"code":"R837193715","date":"2024-09-09","discount":"0.0","commit":false,"type":"SalesOrder","lines":[{"number":"1-LI","description":"Product
        #19 - 6667","taxCode":"TaxCode - 347722","itemCode":"SKU-19","quantity":1,"amount":10.0,"discounted":false,"taxIncluded":false,"addresses":{"shipFrom":{"line1":"1600
        Pennsylvania Ave NW","line2":null,"city":"Washington","region":"AL","country":"US","postalCode":"20500"},"shipTo":{"line1":"A
        Different Road","line2":"Northwest","city":"Herndon","region":"AL","country":"US","postalCode":"10021"}},"customerUsageType":null,"businessIdentificationNo":null,"exemptionCode":null},{"number":"1-FR","itemCode":"Avalara
        Ground","quantity":1,"amount":5.0,"description":"Shipping Charge","taxCode":"FR000000","discounted":false,"taxIncluded":false,"addresses":{"shipFrom":{"line1":"1600
        Pennsylvania Ave NW","line2":null,"city":"Washington","region":"AL","country":"US","postalCode":"20500"},"shipTo":{"line1":"A
        Different Road","line2":"Northwest","city":"Herndon","region":"AL","country":"US","postalCode":"10021"}},"customerUsageType":null,"businessIdentificationNo":null,"exemptionCode":null}],"customerCode":1,"companyCode":"DEFAULTAUG22","customerUsageType":null,"exemptionNo":null,"referenceCode":"R837193715","currencyCode":"USD","businessIdentificationNo":null}}'
    headers:
      X-Avalara-Client:
      - ";;RubySdk;24.8.2;"
      Content-Type:
      - application/json
      Authorization:
      - Basic MjAwMTU0MTI5NjoyMjIwQzI2Qjg4QkQ3MDNE
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Serverduration:
      - '00:00:00.0559591'
      Api-Supported-Versions:
      - '2.0'
      X-Correlation-Id:
      - 7405e383-5803-4b10-b5a5-6be308505fd3
      X-Avalara-Uid:
      - 0bb30879-db79-435b-af58-c06735d3afde
    body:
      encoding: UTF-8
      string: '{"error":{"code":"GetTaxError","message":"Tax calculation cannot be
        determined. Zip is not valid for the state.","target":"Unknown","details":[{"code":"GetTaxError","number":300,"message":"Tax
        calculation cannot be determined. Zip is not valid for the state.","description":"The
        provided address contains a postal code and state combination that is not
        valid.","faultCode":"GetTaxError","faultSubCode":"InvalidZipForStateError","helpLink":"https://developer.avalara.com/avatax/errors/GetTaxError","refersTo":"Addresses[1];
        Line[\"1-LI\"] : AL 10021","severity":"Error"},{"code":"GetTaxError","number":300,"message":"Tax
        calculation cannot be determined. Zip is not valid for the state.","description":"The
        provided address contains a postal code and state combination that is not
        valid.","faultCode":"GetTaxError","faultSubCode":"InvalidZipForStateError","helpLink":"https://developer.avalara.com/avatax/errors/GetTaxError","refersTo":"Addresses[1];
        Line[\"1-FR\"] : AL 10021","severity":"Error"}]}}'
  recorded_at: Mon, 09 Sep 2024 10:11:32 GMT
[...]
- request:
    method: post
    uri: https://sandbox-rest.avatax.com/api/v2/transactions/createoradjust
    body:
      encoding: UTF-8
      string: '{"createTransactionModel":{"code":"R837193715.1","date":"2024-09-09","commit":true,"type":"ReturnInvoice","lines":[{"number":"1-RA","itemCode":"Refund","quantity":1,"amount":-15.0,"description":"Refund","taxIncluded":true,"addresses":{"shipFrom":{"line1":"1600
        Pennsylvania Ave NW","line2":null,"city":"Washington","region":"AL","country":"US","postalCode":"20500"},"shipTo":{"line1":"A
        Different Road","line2":"Northwest","city":"Herndon","region":"AL","country":"US","postalCode":"10021"}},"customerUsageType":null,"businessIdentificationNo":null,"exemptionCode":null}],"customerCode":1,"companyCode":"DEFAULTAUG22","customerUsageType":null,"exemptionNo":null,"referenceCode":"R837193715","currencyCode":"USD","businessIdentificationNo":null,"taxOverride":{"type":"TaxDate","reason":"Order
        canceled","taxDate":"2024-09-09"}}}'
    headers:
      X-Avalara-Client:
      - ";;RubySdk;24.8.2;"
      Content-Type:
      - application/json
      Authorization:
      - Basic MjAwMTU0MTI5NjoyMjIwQzI2Qjg4QkQ3MDNE
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Serverduration:
      - '00:00:00.0605921'
      Api-Supported-Versions:
      - '2.0'
      X-Correlation-Id:
      - 1885d629-3125-4a42-b3e8-75e5bc7f6331
      X-Avalara-Uid:
      - bab3733d-eec5-49c3-8813-c852478fdaa8
    body:
      encoding: UTF-8
      string: '{"error":{"code":"GetTaxError","message":"Tax calculation cannot be
        determined. Zip is not valid for the state.","target":"Unknown","details":[{"code":"GetTaxError","number":300,"message":"Tax
        calculation cannot be determined. Zip is not valid for the state.","description":"The
        provided address contains a postal code and state combination that is not
        valid.","faultCode":"GetTaxError","faultSubCode":"InvalidZipForStateError","helpLink":"https://developer.avalara.com/avatax/errors/GetTaxError","refersTo":"Addresses[1];
        Line[\"1-RA\"] : AL 10021","severity":"Error"}]}}'
  recorded_at: Mon, 09 Sep 2024 10:11:34 GMT
recorded_with: VCR 6.3.1
