---
http_interactions:
- request:
    method: get
    uri: https://development.avalara.net/1.0/address/validate?City=Montgomery&Country=US&Line1=A%20Different%20Road&Line2=&PostalCode=36104&Region=AL
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MTEwMDExMzA5NjoxRDEzRURBMkRDQ0M3RTRB
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - text/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
        "ResultCode": "Error",
        "Messages": [
        {
        "Summary": "The address number is out of range",
        "Details": "The address was found but the street number in the input address was not between the low and high range of the post office database.",
        "RefersTo": "Address.Line1",
        "Severity": "Error",
        "Source": "Avalara.AvaTax.Services.Address"}
        ]
        }
  recorded_at: Fri, 13 Jan 2017 16:46:28 GMT
- request:
    method: get
    uri: https://development.avalara.net/1.0/address/validate?City=Montgomery&Country=US&Line1=A%20Different%20Road&Line2=&PostalCode=36104&Region=AL
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MTEwMDExMzA5NjoxRDEzRURBMkRDQ0M3RTRB
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - text/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
        "ResultCode": "Error",
        "Messages": [
        {
        "Summary": "The address number is out of range",
        "RefersTo": "Address.Line1",
        "Severity": "Error",
        "Source": "Avalara.AvaTax.Services.Address",
        "Details": "The address was found but the street number in the input address was not between the low and high range of the post office database."}
        ]
        }
  recorded_at: Fri, 13 Jan 2017 16:46:32 GMT
recorded_with: VCR 3.0.3
