---
http_interactions:
- request:
    method: get
    uri: https://sandbox-rest.avatax.com/api/v2/addresses/resolve?city&country=US&line1=A%20Different%20Road&line2=Northwest&postalCode&region=AL
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Avalara-Client:
      - ";;RubySdk;24.8.2;"
      Authorization:
      - Basic MjAwMTU0MTI5NjoyMjIwQzI2Qjg4QkQ3MDNE
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Serverduration:
      - '00:00:00.0002209'
      Api-Supported-Versions:
      - '2.0'
      X-Correlation-Id:
      - 36a3c9c1-1a58-43c3-9618-035d99ad4e24
      X-Avalara-Uid:
      - 78169ec8-405c-4057-bf65-13f67b553d4d
    body:
      encoding: UTF-8
      string: '{"error":{"code":"InvalidAddress","message":"The address value was
        incomplete.","target":"IncorrectData","details":[{"code":"InvalidAddress","number":309,"message":"The
        address value was incomplete.","description":"The address value NULL was incomplete.
        You must provide either a valid postal code, line1 + city + region, or line1
        + postal code.","faultCode":"Client","helpLink":"https://developer.avalara.com/avatax/errors/InvalidAddress","severity":"Error"}]}}'
  recorded_at: Mon, 09 Sep 2024 09:18:07 GMT
- request:
    method: post
    uri: https://sandbox-rest.avatax.com/api/v2/addresses/resolve
    body:
      encoding: UTF-8
      string: '{"line1":"A Different Road","line2":"Northwest","city":null,"region":"AL","country":"US","postalCode":null}'
    headers:
      X-Avalara-Uid:
      - a0o33000004FH8l
      Content-Type:
      - application/json
      Authorization:
      - Basic MjAwMTU0MTI5NjoyMjIwQzI2Qjg4QkQ3MDNE
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Serverduration:
      - '00:00:00.0002015'
      Api-Supported-Versions:
      - '2.0'
      X-Correlation-Id:
      - fe194afc-a75f-4c91-a1d8-b0d3c966c767
      X-Avalara-Uid:
      - fcea0fbe-a3ec-442c-9e8f-4059cdfa4324
    body:
      encoding: UTF-8
      string: '{"error":{"code":"InvalidAddress","message":"The address value was
        incomplete.","target":"IncorrectData","details":[{"code":"InvalidAddress","number":309,"message":"The
        address value was incomplete.","description":"The address value NULL was incomplete.
        You must provide either a valid postal code, line1 + city + region, or line1
        + postal code.","faultCode":"Client","helpLink":"https://developer.avalara.com/avatax/errors/InvalidAddress","severity":"Error"}]}}'
  recorded_at: Mon, 09 Sep 2024 10:25:48 GMT
recorded_with: VCR 6.3.1
