---
http_interactions:
- request:
    method: get
    uri: https://sandbox-rest.avatax.com/api/v2/utilities/subscriptions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Avalara-Client:
      - ";;RubySdk;24.8.2;"
      Authorization:
      - Basic MjAwMTU0MTI5NjoyMjIwQzI2Qjg4QkQ3MDNE
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Serverduration:
      - '00:00:00.0182041'
      Databasecalls:
      - '1'
      Databaseduration:
      - '00:00:00.0180000'
      Serviceduration:
      - '00:00:00'
      Api-Supported-Versions:
      - '2.0'
      X-Correlation-Id:
      - 7959fb04-a7aa-4a4a-84aa-e13c79b37425
      X-Avalara-Uid:
      - 4eff94fd-c03a-46cb-8caf-ce03b7b32a31
    body:
      encoding: UTF-8
      string: '{"@recordsetCount":9,"value":[{"id":8224637,"accountId":2001541296,"subscriptionTypeId":1,"subscriptionDescription":"AvaTaxST","effectiveDate":"2024-05-08","createdDate":"2024-05-09T17:49:07.003","createdUserId":46103,"modifiedDate":"2024-05-09T17:49:07.003","modifiedUserId":46103},{"id":8224635,"accountId":2001541296,"subscriptionTypeId":2,"subscriptionDescription":"AvaTaxPro","effectiveDate":"2024-05-08","createdDate":"2024-05-09T17:49:07.003","createdUserId":46103,"modifiedDate":"2024-05-09T17:49:07.003","modifiedUserId":46103},{"id":2652215,"accountId":2001541296,"subscriptionTypeId":3,"subscriptionDescription":"AvaTaxGlobal","effectiveDate":"2021-06-28","createdDate":"2021-06-29T18:23:58.753","createdUserId":46103,"modifiedDate":"2021-06-29T18:23:58.753","modif[...]
