---
http_interactions:
- request:
    method: get
    uri: https://development.avalara.net/1.0/tax/40.714623,-74.006605/get?saleamount=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MTEwMDExMzA5NjoxRDEzRURBMkRDQ0M3RTRB
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
        "Rate": 0.08875,
        "Tax": 0,
        "TaxDetails": [
        {
        "Rate": 0.04,
        "Tax": 0,
        "Region": "NY",
        "Country": "US",
        "JurisType": "State",
        "JurisName": "NEW YORK",
        "JurisCode": "36",
        "TaxName": "NY STATE TAX"}
        ,{
        "Country": "US",
        "Region": "NY",
        "JurisType": "City",
        "JurisCode": "51000",
        "Rate": 0.045,
        "Tax": 0,
        "JurisName": "NEW YORK CITY",
        "TaxName": "NY CITY TAX"}
        ,{
        "Country": "US",
        "Region": "NY",
        "JurisType": "Special",
        "JurisCode": "359071",
        "Rate": 0.00375,
        "Tax": 0,
        "JurisName": "METROPOLITAN COMMUTER TRANSPORTATION DISTRICT",
        "TaxName": "NY SPECIAL TAX"}
        ]
        ,
        "ResultCode": "Success"}
  recorded_at: Thu, 13 Apr 2017 01:43:31 GMT
recorded_with: VCR 3.0.3
