---
http_interactions:
- request:
    method: post
    uri: https://sandbox-rest.avatax.com/api/v2/transactions/createoradjust
    body:
      encoding: UTF-8
      string: '{"createTransactionModel":{"code":"R238524800","date":"2017-07-24","discount":"0.0","commit":false,"type":"SalesOrder","lines":[{"number":"1-LI","description":"Product
        #27 - 3438","taxCode":"PC030000","itemCode":"SKU-27","quantity":1,"amount":10.0,"discounted":false,"taxIncluded":true,"addresses":{"shipFrom":{"line1":"150
        Piccadilly","line2":null,"city":"Florence","region":null,"country":"IT","postalCode":"50122"},"shipTo":{"line1":"89
        Nieuwendijk","line2":"","city":"Amsterdam","region":null,"country":"NL","postalCode":"1012
        MC"}},"customerUsageType":null,"businessIdentificationNo":null,"exemptionCode":null},{"number":"2-FR","itemCode":"Avalara
        Ground","quantity":1,"amount":10.0,"description":"Shipping Charge","taxCode":"FR000000","discounted":false,"taxIncluded":true,"addresses":{"shipFrom":{"line1":"150
        Piccadilly","line2":null,"city":"Florence","region":null,"country":"IT","postalCode":"50122"},"shipTo":{"line1":"89
        Nieuwendijk","line2":"","city":"Amsterdam","region":null,"country":"NL","postalCode":"1012
        MC"}},"customerUsageType":null,"businessIdentificationNo":null,"exemptionCode":null}],"customerCode":1,"companyCode":"54321","customerUsageType":null,"exemptionNo":null,"referenceCode":"R238524800","currencyCode":"USD","businessIdentificationNo":null}}'
    headers:
      X-Avalara-Uid:
      - a0o33000004FH8l
      Content-Type:
      - application/json
      Authorization:
      - Basic MTEwMDExMzA5NjoxRDEzRURBMkRDQ0M3RTRB
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - "/api/v2/companies/0/transactions/0"
      Serverduration:
      - '00:00:00.0312508'
      Databasecalls:
      - '0'
      Databaseduration:
      - '00:00:00'
    body:
      encoding: UTF-8
      string: '{"id":0,"code":"R238524800","companyId":0,"date":"2017-07-24","paymentDate":"2017-07-24","status":"Temporary","type":"SalesOrder","currencyCode":"USD","customerVendorCode":"1","reconciled":false,"referenceCode":"R238524800","totalAmount":16.52,"totalExempt":0.0,"totalTax":3.48,"totalTaxable":16.52,"totalTaxCalculated":3.48,"adjustmentReason":"NotAdjusted","locked":false,"version":1,"exchangeRateEffectiveDate":"2017-07-24","exchangeRate":1.0,"isSellerImporterOfRecord":false,"modifiedDate":"2017-07-24T16:32:43.9732421Z","modifiedUserId":38097,"taxDate":"0001-01-01T00:00:00","lines":[{"id":0,"transactionId":0,"lineNumber":"1-LI","description":"","discountAmount":0.0,"exemptAmount":0.0,"exemptCertId":0,"isItemTaxable":true,"itemCode":"SKU-27","lineAmount":8.26,"quantity":1.0,"reportingDate":"2017-07-24","tax":1.74,"taxableAmount":8.26,"taxCalculated":1.74,"taxCode":"PC030000","taxDate":"2017-07-24","taxIncluded":true,"details":[{"id":0,"transactionLineId":0,"transactionId":0,"country":"NL","region":"NL","exemptAmount":0.0,"jurisCode":"NL","jurisName":"NETHERLANDS","stateAssignedNo":"","jurisType":"STA","nonTaxableAmount":0.0,"rate":0.210000,"tax":1.74,"taxableAmount":8.26,"taxType":"Sales","taxName":"Standard
        Rate","taxAuthorityTypeId":45,"taxCalculated":1.74,"rateType":"Standard","rateTypeCode":"S"}]},{"id":0,"transactionId":0,"lineNumber":"2-FR","description":"","discountAmount":0.0,"exemptAmount":0.0,"exemptCertId":0,"isItemTaxable":true,"itemCode":"Avalara
        Ground","lineAmount":8.26,"quantity":1.0,"reportingDate":"2017-07-24","tax":1.74,"taxableAmount":8.26,"taxCalculated":1.74,"taxCode":"FR000000","taxDate":"2017-07-24","taxIncluded":true,"details":[{"id":0,"transactionLineId":0,"transactionId":0,"country":"NL","region":"NL","exemptAmount":0.0,"jurisCode":"NL","jurisName":"NETHERLANDS","stateAssignedNo":"","jurisType":"STA","nonTaxableAmount":0.0,"rate":0.210000,"tax":1.74,"taxableAmount":8.26,"taxType":"Sales","taxName":"Standard
        Rate","taxAuthorityTypeId":45,"taxCalculated":1.74,"rateType":"Standard","rateTypeCode":"S"}]}],"addresses":[{"id":0,"transactionId":0,"boundaryLevel":"Zip5","line1":"89
        Nieuwendijk","city":"Amsterdam","region":"","postalCode":"1012 MC","country":"NL","taxRegionId":205099,"latitude":"0","longitude":"0"},{"id":0,"transactionId":0,"boundaryLevel":"Zip5","line1":"150
        Piccadilly","city":"Florence","region":"","postalCode":"50122","country":"IT","taxRegionId":205090,"latitude":"0","longitude":"0"},{"id":0,"transactionId":0,"boundaryLevel":"Zip5","line1":"89
        Nieuwendijk","city":"Amsterdam","region":"","postalCode":"1012 MC","country":"NL","taxRegionId":205099,"latitude":"0","longitude":"0"},{"id":0,"transactionId":0,"boundaryLevel":"Zip5","line1":"150
        Piccadilly","city":"Florence","region":"","postalCode":"50122","country":"IT","taxRegionId":205090,"latitude":"0","longitude":"0"}],"summary":[{"country":"NL","region":"NL","jurisType":"State","jurisCode":"NL","jurisName":"NETHERLANDS","taxAuthorityType":45,"stateAssignedNo":"","taxType":"Sales","taxName":"Standard
        Rate","taxGroup":"","rateType":"Standard","rateTypeCode":"S","taxable":16.52,"rate":0.210000,"tax":3.48,"taxCalculated":3.48,"nonTaxable":0.0,"exemption":0.0}],"messages":[{"summary":"Global
        Address","details":"\n    Address: 150 Piccadilly, Florence, 50122 IT\n    AddressCode:
        ORIG1\n    AddressType: \n    BoundaryId: 0\n    CarrierRoute: \n    County:
        \n    FipsCode: \n    GeocodeType: NotGeoCoded\n    PostNet: \n    Reason:
        \n    ValidateStatus: Not Validated.\n    TaxRegionId: 0\n","refersTo":"Addresses[0]
        - TaxDate: 2017-07-24 00:00:00Z","severity":"Success","source":"Avalara.AvaTax.Services.Tax.Steps"},{"summary":"Global
        Address","details":"\n    Address: 89 Nieuwendijk, Amsterdam, 1012 MC NL\n    AddressCode:
        DEST2\n    AddressType: \n    BoundaryId: 0\n    CarrierRoute: \n    County:
        \n    FipsCode: \n    GeocodeType: NotGeoCoded\n    PostNet: \n    Reason:
        \n    ValidateStatus: Not Validated.\n    TaxRegionId: 0\n","refersTo":"Addresses[1]
        - TaxDate: 2017-07-24 00:00:00Z","severity":"Success","source":"Avalara.AvaT[...]
[...]
