---
http_interactions:
- request:
    method: get
    uri: https://sandbox-rest.avatax.com/api/v2/addresses/resolve?city=NON%20EXISTENT%20CITY&country=US&line1=915%20S%20Jackson%20St&postalCode=42&region=AL
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Avalara-Client:
      - ";;RubySdk;24.8.2;"
      Authorization:
      - Basic MjAwMTU0MTI5NjoyMjIwQzI2Qjg4QkQ3MDNE
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Serverduration:
      - '00:00:00.0043148'
      Api-Supported-Versions:
      - '2.0'
      X-Correlation-Id:
      - c69f106e-77fa-415b-8966-a02228ac4cf5
      X-Avalara-Uid:
      - 7bf94042-0d05-494f-85e6-569af02dd523
    body:
      encoding: UTF-8
      string: '{"address":{"line1":"915 S Jackson St","city":"NON EXISTENT CITY","region":"AL","country":"US","postalCode":"42"},"validatedAddresses":[{"addressType":"UnknownAddressType","line1":"915
        S Jackson St","line2":"","line3":"","city":"NON EXISTENT CITY","region":"AL","country":"US","postalCode":"42"}],"resolutionQuality":"External","messages":[{"summary":"Address
        not geocoded.","details":"Address cannot be geocoded.","refersTo":"Address","severity":"Error","source":"Avalara.AvaTax.Common"},{"summary":"The
        city could not be determined.","details":"The city could not be found or determined
        from postal code.","refersTo":"Address.City","severity":"Error","source":"Avalara.AvaTax.Common"}]}'
  recorded_at: Mon, 09 Sep 2024 08:20:03 GMT
recorded_with: VCR 6.3.1
