---
http_interactions:
- request:
    method: post
    uri: https://sandbox-rest.avatax.com/api/v2/transactions/createoradjust
    body:
      encoding: UTF-8
      string: '{"createTransactionModel":{"code":"R584495108","date":"2024-09-09","discount":"0.0","commit":false,"type":"SalesOrder","lines":[{"number":"1-LI","description":"Product
        #1 - 3630","taxCode":"TaxCode - 406450","itemCode":"SKU-1","quantity":1,"amount":10.0,"discounted":false,"taxIncluded":false,"addresses":{"shipFrom":{"line1":"1600
        Pennsylvania Ave NW","line2":null,"city":"Washington","region":"AL","country":"US","postalCode":"20500"},"shipTo":{"line1":"47
        W 13th St","line2":"Northwest","city":"New York","region":"NY","country":"US","postalCode":"10011"}},"customerUsageType":null,"businessIdentificationNo":null,"exemptionCode":null},{"number":"1-FR","itemCode":"Avalara
        Ground","quantity":1,"amount":5.0,"description":"Shipping Charge","taxCode":"FR000000","discounted":false,"taxIncluded":false,"addresses":{"shipFrom":{"line1":"1600
        Pennsylvania Ave NW","line2":null,"city":"Washington","region":"AL","country":"US","postalCode":"20500"},"shipTo":{"line1":"47
        W 13th St","line2":"Northwest","city":"New York","region":"NY","country":"US","postalCode":"10011"}},"customerUsageType":null,"businessIdentificationNo":null,"exemptionCode":null}],"customerCode":1,"companyCode":"DEFAULTAUG22","customerUsageType":null,"exemptionNo":null,"referenceCode":"R584495108","currencyCode":"USD","businessIdentificationNo":null}}'
    headers:
      X-Avalara-Client:
      - ";;RubySdk;24.8.2;"
      Content-Type:
      - application/json
      Authorization:
      - Basic MjAwMTU0MTI5NjoyMjIwQzI2Qjg4QkQ3MDNE
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - "/api/v2/companies/7816098/transactions/0"
      Serverduration:
      - '00:00:00.0422504'
      Api-Supported-Versions:
      - '2.0'
      X-Correlation-Id:
      - ed1da4ae-3a66-4d21-8265-66c89074f775
      X-Avalara-Uid:
      - 0db3f621-4995-4940-9e1e-ee8160ff3d60
    body:
      encoding: UTF-8
      string: '{"id":0,"code":"R584495108","companyId":7816098,"date":"2024-09-09","paymentDate":"2024-09-09","status":"Temporary","type":"SalesOrder","batchCode":"","currencyCode":"USD","exchangeRateCurrencyCode":"USD","customerUsageType":"","entityUseCode":"","customerVendorCode":"1","customerCode":"1","exemptNo":"","reconciled":false,"locationCode":"","reportingLocationCode":"","purchaseOrderNo":"","referenceCode":"R584495108","salespersonCode":"","totalAmount":15.0,"totalExempt":0.0,"totalDiscount":0.0,"totalTax":1.34,"totalTaxable":15.0,"totalTaxCalculated":1.34,"adjustmentReason":"NotAdjusted","locked":false,"version":1,"exchangeRateEffectiveDate":"2024-09-09","exchangeRate":1.0,"modifiedDate":"2024-09-09T10:11:20.7838911Z","modifiedUserId":1450221,"taxDate":"2024-09-09","lines":[{"id":0,"transactionId":0,"lineNumber":"1-LI","customerUsageType":"","entityUseCode":"","description":"Product
        #1 - 3630","discountAmount":0.0,"exemptAmount":0.0,"exemptCertId":0,"exemptNo":"","isItemTaxable":true,"itemCode":"SKU-1","lineAmount":10.0,"quantity":1.0,"ref1":"","ref2":"","reportingDate":"2024-09-09","revAccount":"","sourcing":"Destination","tax":0.89,"taxableAmount":10.0,"taxCalculated":0.89,"taxCode":"P0000000","taxCodeId":8087,"taxDate":"2024-09-09","taxIncluded":false,"details":[{"id":0,"transactionLineId":0,"transactionId":0,"country":"US","region":"NY","stateFIPS":"36","exemptAmount":0.0,"jurisCode":"36","jurisName":"NEW
        YORK","jurisdictionId":42,"stateAssignedNo":"","jurisType":"STA","jurisdictionType":"State","nonTaxableAmount":0.0,"rate":0.040000,"sourcing":"Destination","tax":0.4,"taxableAmount":10.0,"taxType":"Sales","taxSubTypeId":"S","taxName":"NY
        STATE TAX","taxAuthorityTypeId":45,"taxCalculated":0.4,"rateType":"General","rateTypeCode":"G","taxableUnits":10.0000,"nonTaxableUnits":0.0000,"exemptUnits":0.0000,"unitOfBasis":"PerCurrencyUnit","isNonPassThru":false,"isFee":false,"reportingTaxableUnits":10.0,"reportingNonTaxableUnits":0.0,"reportingExemptUnits":0.0,"reportingTax":0.4,"reportingTaxCalculated":0.4,"liabilityType":"Seller","chargedTo":"Buyer"},{"id":0,"transactionLineId":0,"transactionId":0,"country":"US","region":"NY","stateFIPS":"36","exemptAmount":0.0,"jurisCode":"51000","jurisName":"NEW
        YORK CITY","jurisdictionId":2001053475,"stateAssignedNo":"NE 8081","jurisType":"CIT","jurisdictionType":"City","nonTaxableAmount":0.0,"rate":0.045000,"sourcing":"Destination","tax":0.45,"taxableAmount":10.0,"taxType":"Sales","taxSubTypeId":"S","taxName":"NY
        CITY TAX","taxAuthorityTypeId":45,"taxCalculated":0.45,"rateType":"[...]
[...]
