---
http_interactions:
- request:
    method: get
    uri: https://development.avalara.net/1.0/address/validate?City=Tuscaloosa&Country=US&Line1=220%20Paul%20W%20Bryant%20Dr&Line2=&PostalCode=36104&Region=AL
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MTEwMDExMzA5NjoxRDEzRURBMkRDQ0M3RTRB
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
        "ResultCode": "Success",
        "Address": {
        "Line1": "220 Paul W Bryant Dr E",
        "City": "Tuscaloosa",
        "Region": "AL",
        "PostalCode": "35401-2007",
        "Country": "US",
        "County": "TUSCALOOSA",
        "FipsCode": "0112577256",
        "CarrierRoute": "C009",
        "PostNet": "354012007206",
        "AddressType": "S"}
        }
  recorded_at: Thu, 23 Mar 2017 18:10:56 GMT
recorded_with: VCR 3.0.3
