---
http_interactions:
- request:
    method: post
    uri: https://sandbox-rest.avatax.com/api/v2/transactions/createoradjust
    body:
      encoding: UTF-8
      string: '{"createTransactionModel":{"code":"R384996645","date":"2017-06-27","discount":"0.0","commit":false,"type":"SalesInvoice","lines":[{"number":"1-LI","description":"Product
        #36 - 4919","taxCode":"PC030000","itemCode":"SKU-36","quantity":1,"amount":10.0,"discounted":false,"taxIncluded":false,"addresses":{"shipFrom":{"line1":"1600
        Pennsylvania Ave NW","line2":null,"city":"Washington","region":"AL","country":"US","postalCode":"20500"},"shipTo":{"line1":"915
        S Jackson St","line2":"","city":"Montgomery","region":"AL","country":"US","postalCode":"36104"}},"customerUsageType":"A","businessIdentificationNo":null,"exemptionCode":null},{"number":"1-FR","itemCode":"Avalara
        Ground","quantity":1,"amount":5.0,"description":"Shipping Charge","taxCode":"FR000000","discounted":false,"taxIncluded":false,"addresses":{"shipFrom":{"line1":"1600
        Pennsylvania Ave NW","line2":null,"city":"Washington","region":"AL","country":"US","postalCode":"20500"},"shipTo":{"line1":"915
        S Jackson St","line2":"","city":"Montgomery","region":"AL","country":"US","postalCode":"36104"}},"customerUsageType":"A","businessIdentificationNo":null,"exemptionCode":null}],"customerCode":1,"companyCode":"54321","customerUsageType":"A","exemptionNo":null,"referenceCode":"R384996645","currencyCode":"USD","businessIdentificationNo":null}}'
    headers:
      X-Avalara-Uid:
      - a0o33000004FH8l
      Content-Type:
      - application/json
      Authorization:
      - Basic MTEwMDExMzA5NjoxRDEzRURBMkRDQ0M3RTRB
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - "/api/v2/companies/236180/transactions/314034767"
      Serverduration:
      - '00:00:00.1093893'
      Databasecalls:
      - '1'
      Databaseduration:
      - '00:00:00'
    body:
      encoding: UTF-8
      string: '{"id":314034767,"code":"R384996645","companyId":236180,"date":"2017-06-27","paymentDate":"1900-01-01","status":"Saved","type":"SalesInvoice","batchCode":"","currencyCode":"USD","customerUsageType":"A","customerVendorCode":"1","exemptNo":"","reconciled":false,"purchaseOrderNo":"","referenceCode":"R384996645","salespersonCode":"","taxOverrideType":"None","taxOverrideAmount":0.0000,"taxOverrideReason":"","totalAmount":15.0000,"totalExempt":15.0000,"totalTax":0.0000,"totalTaxable":0.0000,"totalTaxCalculated":0.0000,"adjustmentReason":"NotAdjusted","adjustmentDescription":"","locked":false,"region":"AL","country":"US","version":1,"softwareVersion":"17.6.3.5","exchangeRateEffectiveDate":"2017-06-27","exchangeRate":1.0000,"isSellerImporterOfRecord":false,"businessIdentificationNo":"","modifiedDate":"2017-06-27T14:10:43.427","modifiedUserId":38097,"taxDate":"2017-06-27T00:00:00","lines":[{"id":1138026166,"transactionId":314034767,"lineNumber":"1-FR","boundaryOverrideId":0,"customerUsageType":"A","description":"Shipping
        Charge","destinationAddressId":798544655,"originAddressId":798544656,"discountAmount":0.0000,"exemptAmount":5.0000,"exemptCertId":0,"exemptNo":"","isItemTaxable":true,"isSSTP":false,"itemCode":"Avalara
        Ground","lineAmount":5.0000,"quantity":1.0000,"ref1":"","ref2":"","reportingDate":"2017-06-27","revAccount":"","sourcing":"Destination","tax":0.0000,"taxableAmount":0.0000,"taxCalculated":0.0000,"taxCode":"FR000000","taxCodeId":8550,"taxDate":"2017-06-27","taxEngine":"","taxOverrideType":"None","businessIdentificationNo":"","taxOverrideAmount":0.0000,"taxOverrideReason":"","taxIncluded":false,"details":[{"id":2080396008,"transactionLineId":1138026166,"transactionId":314034767,"addressId":798544655,"country":"US","region":"AL","stateFIPS":"01","exemptAmount":5.0000,"exemptReasonId":3,"inState":false,"jurisCode":"01","jurisName":"ALABAMA","jurisdictionId":1,"signatureCode":"AAKB","stateAssignedNo":"","jurisType":"STA","nonTaxableAmount":0.0000,"nonTaxableRuleId":0,"nonTaxableType":"RateRule","rate":0.040000,"rateRuleId":1039993,"rateSourceId":3,"serCode":"     ","sourcing":"Destination","tax":0.0000,"taxableAmount":0.0000,"taxType":"Sales","taxName":"AL
        STATE TAX","taxAuthorityTypeId":45,"taxRegionId":2052799,"taxCalculated":0.0000,"taxOverride":0.0000,"rateType":"General","rateTypeCode":"G","taxableUnits":0.0000,"nonTaxableUnits":0.0000,"exemptUnits":5.0000,"unitOfBasis":"PerCurrencyUnit"}],"lineLocationTypes":[{"documentLineLocationTypeId":769642219,"documentLineId":1138026166,"documentAddressId":798544655,"locationTypeCode":"ShipTo"},{"documentLineLocationTypeId":769642218,"documentLineId":1138026166,"documentAddressId":798544656,"locationTypeCode":"ShipFrom"}],"parameters":{}},{"id":1138026165,"transactionId":314034767,"lineNumber":"1-LI","boundaryOverrideId":0,"customerUsageType":"A","description":"Product
        #36 - 4919","destinationAddressId":798544653,"originAddressId":798544654,"discountAmount":0.0000,"exemptAmount":10.0000,"exemptCertId":0,"exemptNo":"","isItemTaxable":true,"isSSTP":false,"itemCode":"SKU-36","lineAmount":10.0000,"quantity":1.0000,"ref1":"","ref2":"","reportingDate":"2017-06-27","revAccount":"","sourcing":"Destination","tax":0.0000,"taxab[...]
