---
http_interactions:
- request:
    method: get
    uri: https://rest.avatax.com/api/v2/taxrates/bypostalcode?country=US&postalCode=07801
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Avalara-Uid:
      - a0o33000004FH8l
      Authorization:
      - Basic [REDACTED]
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Serverduration:
      - '00:00:00.0011698'
    body:
      encoding: UTF-8
      string: '{"totalRate":0.066250,"rates":[{"rate":0.066250,"name":"NJ STATE TAX","type":"State"}]}'
  recorded_at: Wed, 04 Sep 2019 09:24:21 GMT
recorded_with: VCR 5.0.0
