---
http_interactions:
- request:
    method: get
    uri: https://sandbox-rest.avatax.com/api/v2/taxrates/bypostalcode?country=US&postalCode=07801
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Avalara-Uid:
      - a0o33000004FH8l
      Authorization:
      - Basic MTEwMDExMzA5NjoxRDEzRURBMkRDQ0M3RTRB
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Serverduration:
      - '00:00:00.0312501'
      Databasecalls:
      - '0'
      Databaseduration:
      - '00:00:00'
    body:
      encoding: UTF-8
      string: '{"totalRate":0.068750,"rates":[{"rate":0.068750,"name":"NJ STATE TAX","type":"State"}]}'
  recorded_at: Thu, 20 Jul 2017 19:26:19 GMT
recorded_with: VCR 3.0.3
