---
http_interactions:
- request:
    method: post
    uri: https://sandbox-rest.avatax.com/api/v2/transactions/createoradjust
    body:
      encoding: UTF-8
      string: '{"createTransactionModel":{"code":"R741122826","date":"2026-07-06","commit":false,"type":"SalesOrder","lines":[{"number":"1-LI","description":"Product
        #1 - 7919","taxCode":"TaxCode - 460381","itemCode":"SKU-1","quantity":1,"amount":10.0,"discounted":false,"taxIncluded":false,"addresses":{"shipFrom":{"line1":"1600
        Pennsylvania Ave NW","line2":null,"city":"Washington","region":"AL","country":"US","postalCode":"20500"},"shipTo":{"line1":"A
        Different Road","line2":"Northwest","city":"Herndon","region":"AL","country":"US","postalCode":"10002"}},"customerUsageType":null,"businessIdentificationNo":null,"exemptionCode":null},{"number":"2-LI","description":"Product
        #2 - 2574","taxCode":"TaxCode - 460381","itemCode":"SKU-2","quantity":1,"amount":10.0,"discounted":false,"taxIncluded":false,"addresses":{"shipFrom":{"line1":"1600
        Pennsylvania Ave NW","line2":null,"city":"Washington","region":"AL","country":"US","postalCode":"20500"},"shipTo":{"line1":"A
        Different Road","line2":"Northwest","city":"Herndon","region":"AL","country":"US","postalCode":"10002"}},"customerUsageType":null,"businessIdentificationNo":null,"exemptionCode":null},{"number":"1-FR","itemCode":"Avalara
        Ground","quantity":1,"amount":5.0,"description":"Shipping Charge","taxCode":"FR000000","discounted":false,"taxIncluded":false,"addresses":{"shipFrom":{"line1":"1600
        Pennsylvania Ave NW","line2":null,"city":"Washington","region":"AL","country":"US","postalCode":"20500"},"shipTo":{"line1":"A
        Different Road","line2":"Northwest","city":"Herndon","region":"AL","country":"US","postalCode":"10002"}},"customerUsageType":null,"businessIdentificationNo":null,"exemptionCode":null}],"customerCode":1,"companyCode":"DEFAULT","customerUsageType":null,"exemptionNo":null,"referenceCode":"R741122826","currencyCode":"USD","businessIdentificationNo":null}}'
    headers:
      X-Avalara-Client:
      - solidus_avatax_certified;4.0.0;RubySdk;26.5.0;MacBookAir.attlocal.net
      Content-Type:
      - application/json
      Authorization:
      - Basic MTIzNDU6MTIzNDU=
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 723787cd-f1f4-4a39-b9c3-c0ab91690d7e
      X-Avalara-Uid:
      - 723787cd-f1f4-4a39-b9c3-c0ab91690d7e
    body:
      encoding: UTF-8
      string: '{"error": {"code": "AuthenticationException","message": "Authentication
        failed.","details": [{"code": "AuthenticationException","message": "Authentication
        failed.","description": "Missing authentication or unable to authenticate
        the user or the account.","faultCode": "Client","helpLink": "http://developer.avalara.com/avatax/errors/AuthenticationException"}]}}'
  recorded_at: Mon, 06 Jul 2026 22:12:46 GMT
recorded_with: VCR 6.4.0
