---
http_interactions:
- request:
    method: post
    uri: https://sandbox-rest.avatax.com/api/v2/transactions/createoradjust
    body:
      encoding: UTF-8
      string: '{"createTransactionModel":{"code":"R663351770","date":"2017-07-24","discount":"0.0","commit":false,"type":"SalesOrder","lines":[{"number":"1-LI","description":"Product
        #24 - 376","taxCode":"PC030000","itemCode":"SKU-24","quantity":1,"amount":10.0,"discounted":false,"taxIncluded":true,"addresses":{"shipFrom":{"line1":"150
        Piccadilly","line2":null,"city":"Florence","region":null,"country":"IT","postalCode":"50122"},"shipTo":{"line1":"350
        Av Central","line2":"","city":"Tamarindo","region":null,"country":"CR","postalCode":"50309"}},"customerUsageType":null,"businessIdentificationNo":null,"exemptionCode":null},{"number":"2-FR","itemCode":"Avalara
        Ground","quantity":1,"amount":10.0,"description":"Shipping Charge","taxCode":"FR000000","discounted":false,"taxIncluded":true,"addresses":{"shipFrom":{"line1":"150
        Piccadilly","line2":null,"city":"Florence","region":null,"country":"IT","postalCode":"50122"},"shipTo":{"line1":"350
        Av Central","line2":"","city":"Tamarindo","region":null,"country":"CR","postalCode":"50309"}},"customerUsageType":null,"businessIdentificationNo":null,"exemptionCode":null}],"customerCode":1,"companyCode":"54321","customerUsageType":null,"exemptionNo":null,"referenceCode":"R663351770","currencyCode":"USD","businessIdentificationNo":null}}'
    headers:
      X-Avalara-Uid:
      - a0o33000004FH8l
      Content-Type:
      - application/json
      Authorization:
      - Basic MTEwMDExMzA5NjoxRDEzRURBMkRDQ0M3RTRB
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - "/api/v2/companies/0/transactions/0"
      Serverduration:
      - '00:00:00.0312571'
      Databasecalls:
      - '0'
      Databaseduration:
      - '00:00:00'
    body:
      encoding: UTF-8
      string: '{"id":0,"code":"R663351770","companyId":0,"date":"2017-07-24","paymentDate":"2017-07-24","status":"Temporary","type":"SalesOrder","currencyCode":"USD","customerVendorCode":"1","reconciled":false,"referenceCode":"R663351770","totalAmount":20.0,"totalExempt":0.0,"totalTax":0.0,"totalTaxable":20.0,"totalTaxCalculated":0.0,"adjustmentReason":"NotAdjusted","locked":false,"version":1,"exchangeRateEffectiveDate":"2017-07-24","exchangeRate":1.0,"isSellerImporterOfRecord":false,"modifiedDate":"2017-07-24T16:32:37.8948338Z","modifiedUserId":38097,"taxDate":"0001-01-01T00:00:00","lines":[{"id":0,"transactionId":0,"lineNumber":"1-LI","description":"","discountAmount":0.0,"exemptAmount":0.0,"exemptCertId":0,"isItemTaxable":true,"itemCode":"SKU-24","lineAmount":10.0,"quantity":1.0,"reportingDate":"2017-07-24","tax":0.0,"taxableAmount":10.0,"taxCalculated":0.0,"taxCode":"PC030000","taxDate":"2017-07-24","taxIncluded":true,"details":[{"id":0,"transactionLineId":0,"transactionId":0,"country":"IT","region":"IT","exemptAmount":0.0,"jurisCode":"IT","jurisName":"ITALY","stateAssignedNo":"","jurisType":"STA","nonTaxableAmount":0.0,"rate":0.000000,"tax":0.0,"taxableAmount":10.0,"taxType":"Sales","taxName":"Zero
        Rate","taxAuthorityTypeId":45,"taxCalculated":0.0,"rateType":"Zero","rateTypeCode":"Z"}]},{"id":0,"transactionId":0,"lineNumber":"2-FR","description":"","discountAmount":0.0,"exemptAmount":0.0,"exemptCertId":0,"isItemTaxable":true,"itemCode":"Avalara
        Ground","lineAmount":10.0,"quantity":1.0,"reportingDate":"2017-07-24","tax":0.0,"taxableAmount":10.0,"taxCalculated":0.0,"taxCode":"FR000000","taxDate":"2017-07-24","taxIncluded":true,"details":[{"id":0,"transactionLineId":0,"transactionId":0,"country":"IT","region":"IT","exemptAmount":0.0,"jurisCode":"IT","jurisName":"ITALY","stateAssignedNo":"","jurisType":"STA","nonTaxableAmount":0.0,"rate":0.000000,"tax":0.0,"taxableAmount":10.0,"taxType":"Sales","taxName":"Zero
        Rate","taxAuthorityTypeId":45,"taxCalculated":0.0,"rateType":"Zero","rateTypeCode":"Z"}]}],"addresses":[{"id":0,"transactionId":0,"boundaryLevel":"Zip5","line1":"350
        Av Central","city":"Tamarindo","region":"","postalCode":"50309","country":"CR","taxRegionId":205123,"latitude":"0","longitude":"0"},{"id":0,"transactionId":0,"boundaryLevel":"Zip5","line1":"150
        Piccadilly","city":"Florence","region":"","postalCode":"50122","country":"IT","taxRegionId":205090,"latitude":"0","longitude":"0"},{"id":0,"transactionId":0,"boundaryLevel":"Zip5","line1":"350
        Av Central","city":"Tamarindo","region":"","postalCode":"50309","country":"CR","taxRegionId":205123,"latitude":"0","longitude":"0"},{"id":0,"transactionId":0,"boundaryLevel":"Zip5","line1":"150
        Piccadilly","city":"Florence","region":"","postalCode":"50122","country":"IT","taxRegionId":205090,"latitude":"0","longitude":"0"}],"summary":[{"country":"IT","region":"IT","jurisType":"State","jurisCode":"IT","jurisName":"ITALY","taxAuthorityType":45,"stateAssignedNo":"","taxType":"Sales","taxName":"Zero
        Rate","taxGroup":"","rateType":"Zero","rateTypeCode":"Z","taxable":20.0,"rate":0.000000,"tax":0.0,"taxCalculated":0.0,"nonTaxable":0.0,"exemption":0.0}],"messages":[{"summary":"Global
        Address","details":"\n    Address: 150 Piccadilly, Florence, 50122 IT\n    AddressCode:
        ORIG1\n    AddressType: \n    BoundaryId: 0\n    CarrierRoute: \n    County:
        \n    FipsCode: \n    GeocodeType: NotGeoCoded\n    PostNet: \n    Reason:
        \n    ValidateStatus: Not Validated.\n    TaxRegionId: 0\n","refersTo":"Addresses[0]
        - TaxDate: 2017-07-24 00:00:00Z","severity":"Success","source":"Avalara.AvaTax.Services.Tax.Steps"},{"summary":"Global
        Address","details":"\n    Address: 350 Av Central, Tamarindo, 50309 CR\n    AddressCode:
        DEST2\n    AddressType: \n    BoundaryId: 0\n    CarrierRoute: \n    County:
        \n    FipsCode: \n    GeocodeType: NotGeoCoded\n    PostNet: \n    Reason:
        \n    ValidateStatus: Not Validated.\n    TaxRegionId: 0\n","refersTo":"Addresses[1]
        - TaxDate: 2017-07-24 00:00:00Z","severity":"Success","source":"Avalara.AvaTax[...]
[...]
