---
http_interactions:
- request:
    method: get
    uri: https://sandbox-rest.avatax.com/api/v2/addresses/resolve?city&country=US&line1&line2=Northwest&postalCode&region=NY
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Avalara-Client:
      - ";;RubySdk;24.8.2;"
      Authorization:
      - Basic MjAwMTU0MTI5NjoyMjIwQzI2Qjg4QkQ3MDNE
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Serverduration:
      - '00:00:00.0002859'
      Api-Supported-Versions:
      - '2.0'
      X-Correlation-Id:
      - ab59bb19-e7c0-47c1-abc1-808bbe4d73df
      X-Avalara-Uid:
      - d17d5180-02fa-42cc-87ce-88b02c28c0ee
    body:
      encoding: UTF-8
      string: '{"error":{"code":"InvalidAddress","message":"The address value was
        incomplete.","target":"IncorrectData","details":[{"code":"InvalidAddress","number":309,"message":"The
        address value was incomplete.","description":"The address value NULL was incomplete.
        You must provide either a valid postal code, line1 + city + region, or line1
        + postal code.","faultCode":"Client","helpLink":"https://developer.avalara.com/avatax/errors/InvalidAddress","severity":"Error"}]}}'
  recorded_at: Mon, 09 Sep 2024 10:11:26 GMT
- request:
    method: post
    uri: https://sandbox-rest.avatax.com/api/v2/addresses/resolve
    body:
      encoding: UTF-8
      string: '{"line1":null,"line2":"Northwest","city":null,"region":"NY","country":"US","postalCode":null}'
    headers:
      X-Avalara-Uid:
      - a0o33000004FH8l
      Content-Type:
      - application/json
      Authorization:
      - Basic MjAwMTU0MTI5NjoyMjIwQzI2Qjg4QkQ3MDNE
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Serverduration:
      - '00:00:00.0002927'
      Api-Supported-Versions:
      - '2.0'
      X-Correlation-Id:
      - 6ee130c8-696c-4f8b-b29a-57d64e08788e
      X-Avalara-Uid:
      - 0b599e95-112d-44f8-95d8-1a68c0d9d58c
    body:
      encoding: UTF-8
      string: '{"error":{"code":"InvalidAddress","message":"The address value was
        incomplete.","target":"IncorrectData","details":[{"code":"InvalidAddress","number":309,"message":"The
        address value was incomplete.","description":"The address value NULL was incomplete.
        You must provide either a valid postal code, line1 + city + region, or line1
        + postal code.","faultCode":"Client","helpLink":"https://developer.avalara.com/avatax/errors/InvalidAddress","severity":"Error"}]}}'
  recorded_at: Mon, 09 Sep 2024 10:25:31 GMT
recorded_with: VCR 6.3.1
