---
http_interactions:
- request:
    method: get
    uri: https://sandbox-rest.avatax.com/api/v2/addresses/resolve?city&country=US&line1&line2=Northwest&postalCode&region=NY
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Avalara-Client:
      - ";;RubySdk;24.8.2;"
      Authorization:
      - Basic MjAwMTU0MTI5NjoyMjIwQzI2Qjg4QkQ3MDNE
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Serverduration:
      - '00:00:00.0002756'
      Api-Supported-Versions:
      - '2.0'
      X-Correlation-Id:
      - 4a163c0c-7a80-4929-b2ce-c87e4e6f0fe5
      X-Avalara-Uid:
      - f19ddd6e-15c8-4c6f-afb0-54b981a12783
    body:
      encoding: UTF-8
      string: '{"error":{"code":"InvalidAddress","message":"The address value was
        incomplete.","target":"IncorrectData","details":[{"code":"InvalidAddress","number":309,"message":"The
        address value was incomplete.","description":"The address value NULL was incomplete.
        You must provide either a valid postal code, line1 + city + region, or line1
        + postal code.","faultCode":"Client","helpLink":"https://developer.avalara.com/avatax/errors/InvalidAddress","severity":"Error"}]}}'
  recorded_at: Mon, 09 Sep 2024 10:11:25 GMT
- request:
    method: post
    uri: https://sandbox-rest.avatax.com/api/v2/addresses/resolve
    body:
      encoding: UTF-8
      string: '{"line1":null,"line2":"Northwest","city":null,"region":"NY","country":"US","postalCode":null}'
    headers:
      X-Avalara-Uid:
      - a0o33000004FH8l
      Content-Type:
      - application/json
      Authorization:
      - Basic MjAwMTU0MTI5NjoyMjIwQzI2Qjg4QkQ3MDNE
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Serverduration:
      - '00:00:00.0003010'
      Api-Supported-Versions:
      - '2.0'
      X-Correlation-Id:
      - 75d03aa0-24e8-4379-9ba4-9477b3db8dd6
      X-Avalara-Uid:
      - 7293e68a-0f20-48b1-a625-f4ded66d1cbf
    body:
      encoding: UTF-8
      string: '{"error":{"code":"InvalidAddress","message":"The address value was
        incomplete.","target":"IncorrectData","details":[{"code":"InvalidAddress","number":309,"message":"The
        address value was incomplete.","description":"The address value NULL was incomplete.
        You must provide either a valid postal code, line1 + city + region, or line1
        + postal code.","faultCode":"Client","helpLink":"https://developer.avalara.com/avatax/errors/InvalidAddress","severity":"Error"}]}}'
  recorded_at: Mon, 09 Sep 2024 10:25:31 GMT
recorded_with: VCR 6.3.1
