---
http_interactions:
- request:
    method: post
    uri: https://sandbox-rest.avatax.com/api/v2/addresses/resolve
    body:
      encoding: UTF-8
      string: '{"line1":null,"line2":"","city":null,"region":"AL","country":"US","postalCode":null}'
    headers:
      X-Avalara-Uid:
      - a0o33000004FH8l
      Content-Type:
      - application/json
      Authorization:
      - Basic MTEwMDExMzA5NjoxRDEzRURBMkRDQ0M3RTRB
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Serverduration:
      - '00:00:00'
      Databasecalls:
      - '0'
      Databaseduration:
      - '00:00:00'
    body:
      encoding: UTF-8
      string: '{"error":{"code":"ValidationException","message":"The address value
        was incomplete.","target":"IncorrectData","details":[{"code":"AddressIncomplete","number":309,"message":"The
        address value was incomplete.","description":"The address value  was incomplete.  You
        must provide either a valid postal code, line1 + city + region, or latitude
        + longitude.  For international transactions outside of US/CA, only a country
        code is required.","faultCode":"Client","helpLink":"http://developer.avalara.com/avatax/errors/AddressIncomplete","severity":"Error"}]}}'
  recorded_at: Mon, 24 Jul 2017 16:33:46 GMT
recorded_with: VCR 3.0.3
