---
http_interactions:
- request:
    method: post
    uri: https://sandbox-rest.avatax.com/api/v2/transactions/createoradjust
    body:
      encoding: UTF-8
      string: '{"createTransactionModel":{"code":"TEST-867d768b457194e336cd","date":"2024-09-09","discount":"0.0","commit":false,"type":"SalesOrder","lines":[{"number":"1-LI","description":"Product
        #1 - 1825","taxCode":"sdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdf","itemCode":"SKU-1","quantity":1,"amount":10.0,"customerUsageType":null,"discounted":false,"taxIncluded":false,"addresses":{"shipFrom":{"line1":"1600
        Pennsylvania Ave NW","line2":null,"city":"Washington","region":"DC","country":"US","postalCode":"20500"},"shipTo":{"line1":"915
        S Jackson St","line2":null,"city":"Montgomery","region":"AL","country":"US","postalCode":"36104"}}}],"customerCode":1,"customerUsageType":null,"exemptionNo":null,"referenceCode":"R250707809","currencyCode":"USD"}}'
    headers:
      X-Avalara-Client:
      - ";;RubySdk;24.8.2;"
      Content-Type:
      - application/json
      Authorization:
      - Basic MjAwMTU0MTI5NjoyMjIwQzI2Qjg4QkQ3MDNE
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Serverduration:
      - '00:00:00.0003820'
      Api-Supported-Versions:
      - '2.0'
      X-Correlation-Id:
      - 7914aa97-1645-4913-ad6e-1576cfb02007
      X-Avalara-Uid:
      - 8d4993ac-b76b-40b2-9156-37b870a4fed9
    body:
      encoding: UTF-8
      string: '{"error":{"code":"StringLengthError","message":"Field ''taxCode'' has
        an invalid length.","target":"IncorrectData","details":[{"code":"StringLengthError","number":13,"message":"Field
        ''taxCode'' has an invalid length.","description":"Field ''taxCode'' must
        be between 0 and 25 characters in length.","faultCode":"Client","helpLink":"https://developer.avalara.com/avatax/errors/StringLengthError","severity":"Error"}]}}'
  recorded_at: Mon, 09 Sep 2024 08:22:14 GMT
recorded_with: VCR 6.3.1
