---
http_interactions:
- request:
    method: post
    uri: https://sandbox-rest.avatax.com/api/v2/transactions/createoradjust
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      X-Avalara-Uid:
      - a0o33000004FH8l
      Content-Type:
      - application/json
      Authorization:
      - Basic MTEwMDExMzA5NjoxRDEzRURBMkRDQ0M3RTRB
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Serverduration:
      - '00:00:00.0001931'
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"code":"ModelRequiredException","message":"A required model
        was not provided.","target":"IncorrectData","details":[{"code":"ModelRequiredException","number":38,"message":"A
        required model was not provided.","description":"Please verify that your request
        included a request body in valid JSON format.","faultCode":"Client","helpLink":"http://developer.avalara.com/avatax/errors/ModelRequiredException","severity":"Exception"}]}}'
  recorded_at: Fri, 30 Apr 2021 18:17:30 GMT
recorded_with: VCR 6.0.0
