---
http_interactions:
- request:
    method: post
    uri: https://sandbox-rest.avatax.com/api/v2/transactions/createoradjust
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YWNyZWlsbHkzQGdtYWlsLmNvbTpUZXN0aW5nMTIz
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Serverduration:
      - '00:00:00'
      Databasecalls:
      - '0'
      Databaseduration:
      - '00:00:00'
    body:
      encoding: UTF-8
      string: '{"error":{"code":"ServerConfiguration","message":"An invalid exception
        handler routine has been detected.","target":"AvaTaxApiServer","details":[{"code":"UnhandledException","number":50,"message":"An
        invalid exception handler routine has been detected.","description":"This
        error has been logged and reported to Avalara system administrators.  ","faultCode":"Client","helpLink":"http://developer.avalara.com/avatax/errors/UnhandledException","severity":"Exception"}]}}'
  recorded_at: Wed, 31 May 2017 23:46:21 GMT
recorded_with: VCR 3.0.3
