---
http_interactions:
- request:
    method: post
    uri: https://sandbox-rest.avatax.com/api/v2/transactions/createoradjust
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      X-Avalara-Uid:
      - a0o33000004FH8l
      Content-Type:
      - application/json
      Authorization:
      - Basic MTEwMDExMzA5NjoxRDEzRURBMkRDQ0M3RTRB
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Serverduration:
      - '00:00:00.0011015'
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"code":"ServerConfiguration","message":"An invalid exception
        handler routine has been detected.","target":"AvaTaxApiServer","details":[{"code":"UnhandledException","number":50,"message":"An
        invalid exception handler routine has been detected.","description":"This
        error has been logged and reported to Avalara system administrators.  No action
        is required.","faultCode":"Client","helpLink":"http://developer.avalara.com/avatax/errors/UnhandledException","severity":"Exception"}]}}'
  recorded_at: Fri, 26 Feb 2021 19:36:08 GMT
recorded_with: VCR 6.0.0
