---
http_interactions:
- request:
    method: post
    uri: https://sandbox-rest.avatax.com/api/v2/transactions/createoradjust
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      X-Avalara-Uid:
      - a0o33000004FH8l
      Content-Type:
      - application/json
      Authorization:
      - Basic MTEwMDExMzA5NjoxRDEzRURBMkRDQ0M3RTRB
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Serverduration:
      - '00:00:00.0156236'
      Databasecalls:
      - '3'
      Databaseduration:
      - '00:00:00.0156236'
    body:
      encoding: UTF-8
      string: '{"error":{"code":"ValidationException","message":"Field createTransactionModel
        is required.","target":"IncorrectData","details":[{"code":"ValueRequiredError","number":5,"message":"Field
        createTransactionModel is required.","faultCode":"Client","helpLink":"http://developer.avalara.com/avatax/errors/ValueRequiredError","severity":"Error"}]}}'
  recorded_at: Fri, 30 Jun 2017 21:46:20 GMT
recorded_with: VCR 3.0.3
