---
http_interactions:
- request:
    method: post
    uri: https://rest.avatax.com/api/v2/transactions/createoradjust
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      X-Avalara-Uid:
      - a0o33000004FH8l
      Content-Type:
      - application/json
      Authorization:
      - Basic [REDACTED]
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Serverduration:
      - '00:00:00.0005148'
    body:
      encoding: UTF-8
      string: '{"error":{"code":"ValueRequiredError","message":"Field NULL is required.","target":"IncorrectData","details":[{"code":"ValueRequiredError","number":5,"message":"Field
        NULL is required.","description":"Please provide a value for field NULL.","faultCode":"Client","helpLink":"http://developer.avalara.com/avatax/errors/ValueRequiredError","severity":"Error"}]}}'
  recorded_at: Wed, 04 Sep 2019 09:24:25 GMT
recorded_with: VCR 5.0.0
