---
http_interactions:
- request:
    method: get
    uri: https://development.avalara.net/1.0/address/validate?City=&Country=US&Line1=&Line2=&PostalCode=&Region=AL
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MTEwMDExMzA5NjoxRDEzRURBMkRDQ0M3RTRB
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - text/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
        "ResultCode": "Error",
        "Messages": [
        {
        "Summary": "Insufficient address information",
        "Details": "You must specify at least Line\/ZIP, or Line\/City\/State",
        "RefersTo": "Line1",
        "Severity": "Error",
        "Source": "Avalara.AvaTax.Services.Address"}
        ]
        }
  recorded_at: Wed, 22 Mar 2017 20:06:38 GMT
recorded_with: VCR 3.0.3
