---
http_interactions:
- request:
    method: post
    uri: https://sandbox-rest.avatax.com/api/v2/transactions/createoradjust
    body:
      encoding: UTF-8
      string: '{"createTransactionModel":{"code":"R252004241","date":"2026-07-08","commit":false,"type":"SalesOrder","lines":[{"number":"1-LI","description":"Product
        #3 - 4429","taxCode":"TaxCode - 29168","itemCode":"SKU-3","quantity":1,"amount":10.0,"discounted":false,"taxIncluded":false,"addresses":{"shipFrom":{"line1":"1600
        Pennsylvania Ave NW","line2":null,"city":"Washington","region":"AL","country":"US","postalCode":"20500"},"shipTo":{"line1":"A
        Different Road","line2":"Northwest","city":"Herndon","region":"AL","country":"US","postalCode":"10004"}},"customerUsageType":null,"businessIdentificationNo":null,"exemptionCode":null},{"number":"2-LI","description":"Product
        #4 - 8296","taxCode":"TaxCode - 29168","itemCode":"SKU-4","quantity":1,"amount":10.0,"discounted":false,"taxIncluded":false,"addresses":{"shipFrom":{"line1":"1600
        Pennsylvania Ave NW","line2":null,"city":"Washington","region":"AL","country":"US","postalCode":"20500"},"shipTo":{"line1":"A
        Different Road","line2":"Northwest","city":"Herndon","region":"AL","country":"US","postalCode":"10004"}},"customerUsageType":null,"businessIdentificationNo":null,"exemptionCode":null},{"number":"1-FR","itemCode":"Avalara
        Ground","quantity":1,"amount":5.0,"description":"Shipping Charge","taxCode":"FR000000","discounted":false,"taxIncluded":false,"addresses":{"shipFrom":{"line1":"1600
        Pennsylvania Ave NW","line2":null,"city":"Washington","region":"AL","country":"US","postalCode":"20500"},"shipTo":{"line1":"A
        Different Road","line2":"Northwest","city":"Herndon","region":"AL","country":"US","postalCode":"10004"}},"customerUsageType":null,"businessIdentificationNo":null,"exemptionCode":null}],"customerCode":1,"companyCode":"DEFAULT","customerUsageType":null,"exemptionNo":null,"referenceCode":"R252004241","currencyCode":"USD","businessIdentificationNo":null,"addresses":{"pointOfOrderOrigin":{"line1":"PO
        Box 1337","line2":"Northwest","city":"Herndon","region":"AL","country":"US","postalCode":"10003"}}}}'
    headers:
      X-Avalara-Client:
      - solidus_avatax_certified;4.0.0;RubySdk;26.5.0;MacBookAir.attlocal.net
      Content-Type:
      - application/json
      Authorization:
      - Basic MTIzNDU6MTIzNDU=
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Correlation-Id:
      - 0d0c2023-95af-4994-9e74-3dd30e10d53c
      X-Avalara-Uid:
      - 0d0c2023-95af-4994-9e74-3dd30e10d53c
      Serverduration:
      - '00:00:00.0081028'
      Api-Supported-Versions:
      - '2.0'
      X-Cip-Engine:
      - containers
      X-Cip-Site:
      - aws_us-west-2
      X-Cip-Environment:
      - sbx
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"code":"AuthenticationException","message":"Authentication
        failed.","target":"HttpRequestHeaders","details":[{"code":"AuthenticationException","number":30,"message":"Authentication
        failed.","description":"Unable to authenticate the user or the account.","faultCode":"Client","helpLink":"https://developer.avalara.com/avatax/errors/AuthenticationException","severity":"Error"}]}}'
  recorded_at: Wed, 08 Jul 2026 18:41:41 GMT
recorded_with: VCR 6.4.0
