---
http_interactions:
- request:
    method: get
    uri: https://development.avalara.net/1.0/address/validate?City=&Country=US&Line1=220%20Paul%20W%20Bryant%20Dr&Line2=&PostalCode=36104&Region=AL
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MTEwMDExMzA5NjoxRDEzRURBMkRDQ0M3RTRB
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - text/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
        "ResultCode": "Error",
        "Messages": [
        {
        "Summary": "An exact street name match could not be found",
        "Details": "An exact street name match could not be found and phonetically matching the street name resulted in either no matches or matches to more than one street name.",
        "Severity": "Error",
        "Source": "Avalara.AvaTax.Services.Address",
        "RefersTo": "Address.Line1"}
        ]
        }
  recorded_at: Tue, 10 Jan 2017 09:38:14 GMT
recorded_with: VCR 3.0.3
