---
http_interactions:
- request:
    method: get
    uri: https://sandbox-rest.avatax.com/api/v2/addresses/resolve?city=New%20York&country=US&line1=47%20W%2013th%20St&line2=Northwest&postalCode=10011&region=AL
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Avalara-Client:
      - ";;RubySdk;24.8.2;"
      Authorization:
      - Basic MjAwMTU0MTI5NjoyMjIwQzI2Qjg4QkQ3MDNE
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Serverduration:
      - '00:00:00.0241077'
      Api-Supported-Versions:
      - '2.0'
      X-Correlation-Id:
      - 759d8d3f-f4ab-4dd5-b1de-6f1b66900bff
      X-Avalara-Uid:
      - 66561e6f-c818-4896-b87e-7a87cfa14894
    body:
      encoding: UTF-8
      string: '{"address":{"line1":"47 W 13th St","line2":"Northwest","city":"New
        York","region":"AL","country":"US","postalCode":"10011"},"validatedAddresses":[{"addressType":"HighRiseOrBusinessComplex","line1":"NORTHWEST","line2":"47
        W 13TH ST","line3":"","city":"NEW YORK","region":"NY","country":"US","postalCode":"10011-7956","latitude":40.736333,"longitude":-73.996328}],"coordinates":{"latitude":40.736333,"longitude":-73.996328},"resolutionQuality":"Intersection","taxAuthorities":[{"avalaraId":"42","jurisdictionName":"NEW
        YORK","jurisdictionType":"State","signatureCode":"BFEQ"},{"avalaraId":"359071","jurisdictionName":"METROPOLITAN
        COMMUTER TRANSPORTATION DISTRICT","jurisdictionType":"Special","signatureCode":"BGJP"},{"avalaraId":"2001053475","jurisdictionName":"NEW
        YORK CITY","jurisdictionType":"City","signatureCode":"EHTG"}]}'
  recorded_at: Mon, 09 Sep 2024 09:17:59 GMT
[...]
- request:
    method: post
    uri: https://sandbox-rest.avatax.com/api/v2/addresses/resolve
    body:
      encoding: UTF-8
      string: '{"line1":"47 W 13th St","line2":"Northwest","city":"New York","region":"NY","country":"US","postalCode":"10011"}'
    headers:
      X-Avalara-Uid:
      - a0o33000004FH8l
      Content-Type:
      - application/json
      Authorization:
      - Basic MjAwMTU0MTI5NjoyMjIwQzI2Qjg4QkQ3MDNE
  response:
    status:
      code: 200
      message: OK
    headers:[...]
